### Connect & Create DB to Postgresql bs140513_032310.csv

In [48]:
import pandas as pd
#Identify data types to define in psql query
df = pd.read_csv('bs.csv',quotechar="'")
df_net = pd.read_csv('bsnet.csv',quotechar="'")
print(df.dtypes)

step             int64
customer        object
age             object
gender          object
zipcodeOri       int64
merchant        object
zipMerchant      int64
category        object
amount         float64
fraud            int64
dtype: object

In [49]:
print(df_net.dtypes)

Source        object
Target        object
Weight       float64
typeTrans     object
fraud          int64
dtype: object

In [50]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Kolom '{column}' memiliki {len(unique_values)} unique value:\n{unique_values}\n")

Kolom 'step' memiliki 180 unique value:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179]

Kolom 'customer' memiliki 4112 unique value:
['C1093826151' 'C352968107' 'C2054744914' ... 'C1014783484' 'C849065220'
 'C1809646275']

Kolom 'age' memiliki 8 unique value:
['4' '2' '3' '5' '1' '6' 'U' '0']

Kolom 'gender' memiliki 4 unique value:
['M' 'F' 'E' 'U']

Kolom 'zipcodeOri' memiliki 1 unique value:
[28007]

Kolom 'merchant' memiliki 50 unique value:
['M348934600' 'M1823072687' 'M50039827' 'M1888755466' 'M1053599405'
 'M85975013' 'M480139044' 'M692898500' 'M348875670' 'M151143676'
 'M840466850' 'M1741626453' 'M1535107174' 'M855959430' 'M349281107'
 'M209847108' 'M2122776122' 'M1873032707' 'M2011752106' 'M857378720'
 'M1198415165' 'M1748431652' 'M980657600' 'M1352454843' 'M117188757'
 'M547558035' 'M17379832' 'M1649169323' 'M1946091778' 'M97925176'
 'M923029380' 'M1353266412' 'M1842530320' 'M677738360' 'M1313686961'
 'M732195782' 'M1600850729' 'M1872033263' 'M3697346' 'M495352832'
 'M1400236507' 'M1294758098' 'M1913465890' 'M45060432' 'M78078399'
 'M2080407379' 'M1788569036' 'M1416436880' 'M933210764' 'M1726401631']

Kolom 'zipMerchant' memiliki 1 unique value:
[28007]

Kolom 'category' memiliki 15 unique value:
['es_transportation' 'es_health' 'es_otherservices' 'es_food'
 'es_hotelservices' 'es_barsandrestaurants' 'es_tech' 'es_sportsandtoys'
 'es_wellnessandbeauty' 'es_hyper' 'es_fashion' 'es_home' 'es_contents'
 'es_travel' 'es_leisure']

Kolom 'amount' memiliki 23767 unique value:
[  4.55  39.68  26.89 ... 249.18 224.81 190.31]

Kolom 'fraud' memiliki 2 unique value:
[0 1]

In [51]:
import numpy as np

# Mengganti nilai "U" menjadi null value
df['age'] = df['age'].replace('U', np.nan)
df['gender'] = df['gender'].replace('U', np.nan)

df['customer'] = df['customer'].str.replace('C', '')
df['merchant'] = df['merchant'].str.replace('M', '')

In [52]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Kolom '{column}' memiliki {len(unique_values)} unique value:\n{unique_values}\n")

Kolom 'step' memiliki 180 unique value:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179]

Kolom 'customer' memiliki 4112 unique value:
['1093826151' '352968107' '2054744914' ... '1014783484' '849065220'
 '1809646275']

Kolom 'age' memiliki 8 unique value:
['4' '2' '3' '5' '1' '6' nan '0']

Kolom 'gender' memiliki 4 unique value:
['M' 'F' 'E' nan]

Kolom 'zipcodeOri' memiliki 1 unique value:
[28007]

Kolom 'merchant' memiliki 50 unique value:
['348934600' '1823072687' '50039827' '1888755466' '1053599405' '85975013'
 '480139044' '692898500' '348875670' '151143676' '840466850' '1741626453'
 '1535107174' '855959430' '349281107' '209847108' '2122776122'
 '1873032707' '2011752106' '857378720' '1198415165' '1748431652'
 '980657600' '1352454843' '117188757' '547558035' '17379832' '1649169323'
 '1946091778' '97925176' '923029380' '1353266412' '1842530320' '677738360'
 '1313686961' '732195782' '1600850729' '1872033263' '3697346' '495352832'
 '1400236507' '1294758098' '1913465890' '45060432' '78078399' '2080407379'
 '1788569036' '1416436880' '933210764' '1726401631']

Kolom 'zipMerchant' memiliki 1 unique value:
[28007]

Kolom 'category' memiliki 15 unique value:
['es_transportation' 'es_health' 'es_otherservices' 'es_food'
 'es_hotelservices' 'es_barsandrestaurants' 'es_tech' 'es_sportsandtoys'
 'es_wellnessandbeauty' 'es_hyper' 'es_fashion' 'es_home' 'es_contents'
 'es_travel' 'es_leisure']

Kolom 'amount' memiliki 23767 unique value:
[  4.55  39.68  26.89 ... 249.18 224.81 190.31]

Kolom 'fraud' memiliki 2 unique value:
[0 1]

In [53]:
print(df_net.dtypes)

Source        object
Target        object
Weight       float64
typeTrans     object
fraud          int64
dtype: object

In [55]:
df_customer = df[['customer', 'age', 'gender', 'zipcodeOri']]  # Ganti dengan nama kolom yang kamu inginkan
df_transaction = df[['step', 'amount', 'fraud','customer','merchant']]

df_merchant1 = df[['merchant', 'zipMerchant', 'category']]  # Ganti dengan nama kolom yang kamu inginkan 
df_merchant2 = df_net[['Weight']]  # Ganti dengan nama kolom dari dataset pertama yang ingin kamu gabungkan
df_merchant = pd.concat([df_merchant1, df_merchant2], axis=1)


# Buat dataset baru dengan kolom yang dipilih
# df_transaction = df[df_customer]
# df_merchant = df[df_merchant]
# df_customer = df[df_transaction]

# Menyimpan dataset baru ke file CSV jika diperlukan
# dataset_baru.to_csv('dataset_baru.csv', index=False)  # Ganti 'dataset_baru.csv' dengan nama file untuk menyimpan dataset baru

In [56]:
df_merchant.head()

     merchant  zipMerchant           category  Weight
0   348934600        28007  es_transportation    4.55
1   348934600        28007  es_transportation   39.68
2  1823072687        28007  es_transportation   26.89
3   348934600        28007  es_transportation   17.25
4   348934600        28007  es_transportation   35.72

In [58]:
df_merchant = df_merchant.drop_duplicates(subset=['merchant'])
df_merchant.head()

      merchant  zipMerchant           category  Weight
0    348934600        28007  es_transportation    4.55
2   1823072687        28007  es_transportation   26.89
12    50039827        28007          es_health   68.79
40  1888755466        28007   es_otherservices   87.67
42  1053599405        28007          es_health  105.59

In [57]:
df_transaction

        step  amount  fraud    customer    merchant
0          0    4.55      0  1093826151   348934600
1          0   39.68      0   352968107   348934600
2          0   26.89      0  2054744914  1823072687
3          0   17.25      0  1760612790   348934600
4          0   35.72      0   757503768   348934600
...      ...     ...    ...         ...         ...
594638   179   20.53      0  1753498738  1823072687
594639   179   50.73      0   650108285  1823072687
594640   179   22.44      0   123623130   349281107
594641   179   14.46      0  1499363341  1823072687
594642   179   26.93      0   616528518  1823072687

[594643 rows x 5 columns]

In [62]:
df_customer.head()

     customer age gender  zipcodeOri
0  1093826151   4      M       28007
1   352968107   2      M       28007
2  2054744914   4      F       28007
3  1760612790   3      M       28007
4   757503768   5      M       28007

In [63]:
df_customer = df_customer.drop_duplicates(subset=['customer'])
df_customer

          customer age gender  zipcodeOri
0       1093826151   4      M       28007
1        352968107   2      M       28007
2       2054744914   4      F       28007
3       1760612790   3      M       28007
4        757503768   5      M       28007
...            ...  ..    ...         ...
236475   650117238   3      M       28007
254227  2095815783   2      F       28007
308714  1014783484   1      F       28007
309490   849065220   4      F       28007
430252  1809646275   3      F       28007

[4112 rows x 4 columns]

In [64]:
df_customer.to_csv('df_customer.csv', index=False)
df_transaction.to_csv('df_transaction.csv', index=False)
df_merchant.to_csv('df_merchant.csv', index=False)